.events-container {
    width: 100%; /* Fill the width of the screen */
}

.events-scroll-container {
    display: flex;
    animation: scrollAnimation 30s linear infinite; /* Adjust the duration as needed */
}

.event-card {
    flex: 0 0 auto;
    width: 30%; /* Default width for larger screens */
}

/*@media (max-width: 768px) {*/
/*    .event-card {*/
/*        width: 100%; !* Set width to 100% for small screens *!*/
/*    }*/

/*    .events-scroll-container {*/
/*        animation-duration: 5s; !* Adjust the duration for small screens *!*/
/*    }*/
/*}*/

@media (max-width: 768px) {

    .mobile-card{
        height: 40vh;
    }

    .events-scroll-container{
        width: 220%;
        animation: scrollAnimation linear infinite;
        animation-duration: 15s;
    }

}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
